.exercise {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.exercise-header {margin-bottom: 10px;}
.exerciseName {margin: 0 5px; color: #000; font-size: 20px}
.exerciseReps {color: #999;}
.rating {color: #999;}
.author {color: #555; font-size:20px}
.log {margin-top:0px; margin-bottom:0px; padding:10px;
    box-shadow: 0 0px 1px 0 grey inset;  
}
.button-container {margin-bottom:80px}